/*------------BODY------------*/
body {
    background-color: #ffffff;
    color: #212121;
    font-family: "Roboto", sans-serif;
}

/*---------------------СТУДІЯ-------------------*/

/*------------HEADER------------*/
.header {
    background-color: #ffffff;
}

.nav-list .nav-link.current {
    color: #2196F3;
    }

.header-logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #212121;
}

.part-logo {
    color: #2196F3;   
}

.nav-link:hover,
.nav-link:focus {
    color: #2196F3;
}

.nav-list {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
}

.header-item {
    list-style-type: none;
}

.header-link {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;
}

.header-link:hover,
.header-link:focus {
    color: #2196F3;
}

/*------------HERO------------*/
.hero {
    background-color: #2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: #FFFFFF;
    background: #2196F3;

}

/*------------------ПРИХОВАНИЙ ЗАГОЛОВОК------------*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*------------OUR FEATURES------------*/
.features-item {
    list-style-type: none;
}

.features-subtitle {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/*------------OUR ACTIVITIES-----------*/
.activities-title {   
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.activities-item {
    list-style-type: none; 
}

/*------------OUR TEAM-----------*/
.team {
    background: #F5F4FA;;
}

.team-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-item {
    list-style-type: none;
    background: #FFFFFF;
}

.team-name {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-position {
    font-size: 16px;
    line-height: 1.18;
    color: #757575;
    text-align: center;
    letter-spacing: 0.03em;
}

/*------------FOOTER-----------*/
.footer {
    background: #2F303A;
}

.footer-logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-part-logo {
    color: #2196F3;
}

.address-name:hover,                                         
.address-name:focus {
    color: #2196F3;
}

.address-name {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-list {
    list-style-type: none;
    
}

.footer-link {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus {
    color: #2196F3;
}

/*---------------------ПОРТФОЛІО-------------------*/

/*----------main-------------*/
.list-btn {
    list-style-type: none;
}

.btn-filter:hover,
.btn-filter :focus {
    background-color: #2196F3;
}

.list-btn .btn-filter.current {
    background-color: #2196F3;
}

.btn-filter {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
}

.list-projects {
    list-style-type: none;
}

.link-projects {
    text-decoration: none;
}

.subtitle-projects {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.text-projects {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: #757575;
}